<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1>Add prisoner</h1>

      <%= simple_form_for [@jail, @killer] do |f| %>
        <%= f.input :name, label: "Killer Name" %>
        <%= f.input :image_url %>
        <%= f.submit "Add", class: "btn btn-danger" %>
      <% end %>
    </div>
  </div>
</div>
